@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using HopeLine.Web.Areas.Guest.Pages

@inject IHttpContextAccessor HttpContextAccessor
@inject SignInManager<HopeLine.DataAccess.Entities.HopeLineUser> SignInManager
@inject UserManager<HopeLine.DataAccess.Entities.HopeLineUser> UserManager
 
@{
    if(@HttpContextAccessor.HttpContext.Session.GetString("_guest") != null){
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
            <li>
                <button id="logout" type="submit" class=" btn na">Leave</button>
            </li>

            </ul>
        </form>

        <input id="userId" type="text" hidden value=@HttpContextAccessor.HttpContext.Session.GetString("_guest") />
    }

    else if(@SignInManager.IsSignedIn(User))        
    {
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Mentor" asp-page="/Index" title="Manage">Hello @UserManager.GetUserName(User) </a>
                </li>
                <li class="nav-item">
                    <button id="logout" type="submit" class="btn" >Logout</button>
                </li>
            </ul>
        </form>
        <input id="userId" type="hidden" value="@UserManager.GetUserName(User)" />
        <input id="accountType" type="hidden" value="@User.Claims.FirstOrDefault(c => c.Type =="Account").Value" />
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <!--<li><a class="nav-link" href=@Url.Page("/Register", new {area="User"})>Register</a></li>-->
            <li><a class="nav-link" href=@Url.Page("/Login", new {area="Mentor"})>Mentor Sign in</a></li>
        </ul>   
    }
}

@section Scripts {
    <script>
        $(function () {
            $("#logout").click(function () {
                sessionStorage.removeItem('_guest');
            });

        })
    </script>

}