@page
@using HopeLine.Web.Areas.Mentor.Pages
@model IndexModel
@using Microsoft.AspNetCore.Identity

@inject UserManager<HopeLine.DataAccess.Entities.HopeLineUser> UserManager
@{
    //Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    Layout = "/Pages/Shared/_mentorLayout.cshtml";
    ViewData["Title"] = "Mentor";
}



@section Styles {
    <link rel="stylesheet" , href="~/css/resources.css" />
}
<div style="margin-top:100px"></div>
<div class="row justify-content-center">
    <div class="col-md-2 col-sm-11">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
            <a class="list-group-item list-group-item-action" id="list-password-list" data-toggle="list" href="#list-password" role="tab" aria-controls="password">Change Password</a>
            <a class="list-group-item list-group-item-action" id="list-stat-list" data-toggle="list" href="#list-stat" role="tab" aria-controls="stat">Statistics</a>
        </div>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <div class="jumbotron m-1">
                    <h1 class="display-4">Hello, @Model.CurrentMentor.FirstName&nbsp;@Model.CurrentMentor.LastName</h1>
                    <p class="lead">Welcome Back!</p>
                    <hr class="my-4">
                    @if (Model.LastConversation != null)
                    {
                        <p>Your Last Conversation:</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">User Id</th>
                                    <th scope="col">PIN</th>
                                    <th scope="col">Minutes</th>
                                    <th scope="col">Date of Conversation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.LastConversation.Id</td>
                                    <td>@Model.LastConversation.UserId</td>
                                    <td>@Model.LastConversation.PIN</td>
                                    <td>@Model.LastConversation.Minutes</td>
                                    <td>@Model.LastConversation.DateOfConversation</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>You have no past Conversations.</p>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <div class="row">
                    <div class="col-md-10">
                        <h1>@Model.CurrentMentor.FirstName&nbsp;@Model.CurrentMentor.LastName</h1>
                    </div>
                </div>
                <div class="row p-0 m-0">

                    <div class="col-md-8">
                        <hr>
                        <form class="form" method="post" id="registrationForm">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label type="text" class="form-control" name="mentorId" id="mentorId" placeholder=@Model.CurrentMentor.Id hidden></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">
                                            <h4>Email:</h4>
                                        </label>
                                        <h3>@Model.CurrentMentor.Email</h3>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">


                                        <label for="phone">
                                            <h4>Phone Number:</h4>
                                        </label>
                                        <h3>@Model.CurrentMentor.Phone</h3>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">


                                        <label for="username">
                                            <h4>First Name</h4>
                                        </label>
                                        <h3>@Model.CurrentMentor.FirstName</h3>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">


                                        <label for="username">
                                            <h4>Last Name</h4>
                                        </label>
                                        <h3>@Model.CurrentMentor.LastName</h3>
                                    </div>
                                </div>
                            </div>



                        </form>

                    </div>



                    <!--/tab-content-->
                    <!--/col-9-->
                </div>
                <!--/row-->
            </div>

            <div class="tab-pane fade" id="list-password" role="tabpanel" aria-labelledby="list-password-list">
                <div class="row">
                    <div class="col-md-10">
                        <h1>Change Password</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <form id="change-password-form" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.OldPassword">OldPassword</label>
                            <input asp-for="Input.OldPassword" class="form-control" required />
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.NewPassword">NewPassword</label>
                            <input asp-for="Input.NewPassword" class="form-control" required />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword">ConfirmPassword</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" required />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Update password</button>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="list-stat" role="tabpanel" aria-labelledby="list-stat-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">User Id</th>
                            <th scope="col">PIN</th>
                            <th scope="col">Minutes</th>
                            <th scope="col">Date of Conversation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Conversations)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.UserId</td>
                                <td>@item.PIN</td>
                                <td>@item.Minutes</td>
                                <td>@item.DateOfConversation</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>


        $("#switch-id").on("click", function () {
            $("#password").prop("disabled", !$("#password").prop("disabled"));
            $("#password1").prop("disabled", !$("#password1").prop("disabled"));
            $("#password2").prop("disabled", !$("#password2").prop("disabled"));
        });

    </script>
    <script>
        // Hit ENTER to send messages
        $(function () {
            $("#messageInput").keypress(function (enter) {
                var code = (enter.keyCode ? enter.keyCode : enter.which);

                if (code == 13) {
                    enter.preventDefault();
                    $("#sendButton").trigger('click');
                }
            });
        });


    </script>
}