@page
@model HopeLine.Web.Pages.ResourcesModel
@{
    ViewData["Title"] = "Resources";

}

<head>
    <link rel="stylesheet" , href="~/css/resources.css" />
</head>

<br>


<section>
    <div class="accordion" id="resources">
        <!-- The sidebar -->
        <div class="sidebar bg-dark">
            <!-- Welcome -->
            <div hidden>
                <div class="card bg-dark">
                    <div class="card-header" id="welcomeHeader">
                        <h5 class="mb-0">
                            <button class="btn btn-link mt-5 dropdown" data-toggle="collapse" data-target="#welcome">
                                Welcome
                            </button>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Depression -->
            <div>
                <div class="card bg-dark">
                    <div class="card-header" id="depressionHeader">
                        <h5 class="mb-0">
                            <a class="btn nav-link mt-5 dropdown" data-toggle="collapse" data-target="#depression" style="color:rgba(255,255,255,.5)">
                                Depression
                            </a>
                        </h5>
                    </div>
                </div>
            </div>


            <!-- Anxiety -->
            <div>
                <div class="card bg-dark">
                    <div class="card-header" id="anxietyHeader">
                        <h5 class="mb-0">
                            <a class="btn nav-link dropdown" data-toggle="collapse" data-target="#anxiety" style="color:rgba(255,255,255,.5)">
                                Anxiety
                            </a>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Bullying -->
            <div>
                <div class="card bg-dark">
                    <div class="card-header" id="bullyingHeader">
                        <h5 class="mb-0">
                            <a class="btn nav-link dropdown" data-toggle="collapse" data-target="#bullying" style="color:rgba(255,255,255,.5)">
                                Bullying
                            </a>
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Suicide -->
            <div>
                <div class="card bg-dark">
                    <div class="card-header" id="suicideHeader">
                        <h5 class="mb-0">
                            <a class="btn nav-link dropdown" data-toggle="collapse" data-target="#suicide" style="color:rgba(255,255,255,.5)">
                                Suicide
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page content -->
        <div class="content accordion-group">


            <div id="welcome" class="collapse show card mb-3" data-parent="#resources" style="margin:0 auto; float:none; margin-top: 90px">
                <h2 class="text-center">Welcome</h2>
                <div class="card-body">
                    <h3 class="card-title">Welcome to Resources</h3>
                    <p class="card-text">In our resources, you will find the articles that help you.</p>
                    <p class="card-text">Please check out our category for details</p>
                </div>
            </div>

            <div id="depression" class="collapse" data-parent="#resources" style="margin:0 auto; float:none; margin-top: 90px">
                <h2 class="text-center">Depression</h2>
                <div class="card-deck">
                    @foreach (var item in Model.DepressionRes)
                    {
                        <div class="card">
                            <img class="card-img-top" src=@Html.DisplayFor(modelitem => item.ImageURL) alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelitem => item.Name)</h5>
                                <p class="card-text">
                                    @Html.DisplayFor(modelitem => item.Description)
                                </p>
                                <p class="card-text"><a href=@Html.DisplayFor(modelitem => item.URL) class="btn btn-primary">Go</a></p>
                            </div>
                        </div>
                    }
                </div>
            </div>





            <div id="anxiety" class="collapse" data-parent="#resources">
                <h2 class="text-center">Anxiety</h2>
                <hr />
                <div class="card-deck">
                    @foreach (var item in Model.AnxietyRes)
                    {
                        <div class="card">
                            <img class="card-img-top" src=@Html.DisplayFor(modelitem => item.ImageURL) alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelitem => item.Name)</h5>
                                <p class="card-text">
                                    @Html.DisplayFor(modelitem => item.Description)
                                </p>
                                <p class="card-text"><a href=@Html.DisplayFor(modelitem => item.URL) class="btn btn-primary">Go</a></p>
                            </div>
                        </div>
                    }
                </div>
            </div>


            <div id="bullying" class="collapse" data-parent="#resources" style="margin:0 auto; float:none; margin-top: 90px">
                <h2 class="text-center">Bullying</h2>
                <hr />
                <div class="card-deck">
                    @foreach (var item in Model.BullyingRes)
                    {
                        <div class="card">
                            <img class="card-img-top" src=@Html.DisplayFor(modelitem => item.ImageURL) alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelitem => item.Name)</h5>
                                <p class="card-text">
                                    @Html.DisplayFor(modelitem => item.Description)
                                </p>
                                <p class="card-text"><a href=@Html.DisplayFor(modelitem => item.URL) class="btn btn-primary">Go</a></p>
                            </div>
                        </div>
                    }
                </div>
            </div>


            <div id="suicide" class="collapse" data-parent="#resources" style="margin:0 auto; float:none; margin-top: 90px">
                <h2 class="text-center">Suicide</h2>
                <hr />
                <div class="card-deck">
                    @foreach (var item in Model.SuicideRes)
                    {
                        <div class="card">
                            <img class="card-img-top" src=@Html.DisplayFor(modelitem => item.ImageURL) alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelitem => item.Name)</h5>
                                <p class="card-text">
                                    @Html.DisplayFor(modelitem => item.Description)
                                </p>
                                <p class="card-text"><a href=@Html.DisplayFor(modelitem => item.URL) class="btn btn-primary">Go</a></p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>


</section>

<!--
<script>
    var $group = $('#resourceGroup');
    $group.on('show', '.collapse', function () {
        $group.find('.collapse.in').collapse('hide');

    });
</script>
    -->
