@page
@model HopeLine.Web.Pages.ResourcesModel
@{
    ViewData["Title"] = "Resources";
    if (Model.isUser)
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "/Pages/Shared/_MentorLayout.cshtml";
    }
}

@section Styles {
    <link rel="stylesheet" , href="~/css/resources.css" />
}
<div style="margin-top:100px"></div>
<div class="row mt-5">
    <div class="col-3 ml-1">
        <div class="list-group" id="list-tab" role="tablist">
            <a hidden class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Welcome</a>
            <a class="list-group-item list-group-item-action" id="list-depression-list" data-toggle="list" href="#list-depression" role="tab" aria-controls="profile">Depression</a>
            <a class="list-group-item list-group-item-action" id="list-anxiety-list" data-toggle="list" href="#list-anxiety" role="tab" aria-controls="messages">Anxiety</a>
            <a class="list-group-item list-group-item-action" id="list-bullying-list" data-toggle="list" href="#list-bullying" role="tab" aria-controls="settings">Bullying</a>
            <a class="list-group-item list-group-item-action" id="list-suicide-list" data-toggle="list" href="#list-suicide" role="tab" aria-controls="settings">Suicide</a>
        </div>
    </div>
    <div class="col-8 border-left">
        <div class="tab-content border-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <h2 class="text-center">Welcome</h2>
                <div class="card-body">
                    <h3 class="card-title">Welcome to Resources</h3>
                    <p class="card-text">In our resources, you will find the articles that help you.</p>
                    <p class="card-text">Please check out our category for details</p>
                </div>
            </div>
            <div class="tab-pane fade" id="list-depression" role="tabpanel" aria-labelledby="list-depression-list">
                <h2 class="text-center">Depression</h2>
                <div class="row m-0">
                    @foreach (var item in Model.DepressionRes)
                    {
                        <div class="col-md-6 col-sm-12 mb-4">
                            <div class="card shadow-lg">
                                <img class="card-img-top" src=@Html.DisplayFor(modelitem => item.ImageURL) alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelitem => item.Name)</h5>
                                    <p class="card-text">
                                        @Html.DisplayFor(modelitem => item.Description)
                                    </p>
                                    <p class="card-text"><a href=@Html.DisplayFor(modelitem => item.URL) class="btn btn-primary" target="_blank">Go</a></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="list-anxiety" role="tabpanel" aria-labelledby="list-anxiety-list">
                <h2 class="text-center">Anxiety</h2>
                <div class="row m-0">
                    @foreach (var item in Model.AnxietyRes)
                    {
                        <div class=" col-md-6 col-sm-12 mb-4">
                            <div class="card shadow-lg">
                                <img class="card-img-top" src=@Html.DisplayFor(modelitem => item.ImageURL) alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelitem => item.Name)</h5>
                                    <p class="card-text">
                                        @Html.DisplayFor(modelitem => item.Description)
                                    </p>
                                    <p class="card-text"><a href=@Html.DisplayFor(modelitem => item.URL) class="btn btn-primary" target="_blank">Go</a></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="list-bullying" role="tabpanel" aria-labelledby="list-bullying-list">
                <h2 class="text-center">Bullying</h2>

                <div class="row m-0">
                    @foreach (var item in Model.BullyingRes)
                    {
                        <div class="col-md-6 col-sm-12 mb-4">
                            <div class="card shadow-lg">
                                <img class="card-img-top" src=@Html.DisplayFor(modelitem => item.ImageURL) alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelitem => item.Name)</h5>
                                    <p class="card-text">
                                        @Html.DisplayFor(modelitem => item.Description)
                                    </p>
                                    <p class="card-text"><a href=@Html.DisplayFor(modelitem => item.URL) class="btn btn-primary" target="_blank">Go</a></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="list-suicide" role="tabpanel" aria-labelledby="list-suicide-list">
                <h2 class="text-center">Suicide</h2>
    
                <div class="row m-0">
                    @foreach (var item in Model.SuicideRes)
                    {
                        <div class="col-md-6 col-sm-12 mb-4">
                            <div class="card shadow-lg">
                                <img class="card-img-top" src=@Html.DisplayFor(modelitem => item.ImageURL) alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelitem => item.Name)</h5>
                                    <p class="card-text">
                                        @Html.DisplayFor(modelitem => item.Description)
                                    </p>
                                    <p class="card-text"><a href=@Html.DisplayFor(modelitem => item.URL) class="btn btn-primary" target="_blank">Go</a></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>